body{
    background-color: #c3cfe2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "box box box"
    "box box box"
    "box box box";
    gap:20px;
}

img{
    height:300px;
    border-radius: 5px;
}

.box{
    grid-area: "box";
    width: 250px;
    height: 300px;
    position: relative;
    border-radius: 10px;
}

.button{
    position:absolute;
    opacity: 0;
    top:0;
    left:0;
    text-align: center;
    border-radius: 15px;
    width:250px;
    height:300px;
    background-color: darkslategray;
    color: white;
    font-size: 15px;
    transition: opacity 500ms ease-in;
}


.box:hover .button{
    opacity: 95%;
}


/* Media Queries */
@media (max-width: 768px) {
    body {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "box box"
    "box box"
    "box box"
    "box box";
    }

    img{
        height: 350px;
        width: 291px;
        
    }

    .box{
        height:350px;
        width: 291px;
    }

    .button{
        height: 350px;
        width: 291px;
    }
}

@media (max-width: 500px) {
    body {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: 
    "box"
    "box"
    "box"
    "box"
    "box"
    "box"
    "box";
    }

    img{
        height: 405px;
        width: 337.5px;
        
    }

    .box{
        height:400px;
        width: 337.5px;
    }

    .button{
        height: 400px;
        width: 337.5px;
    }
}

